
/* Your CSS Code here. */
.holder{

	display: flex;
	flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
   
/*      width: 100%;  */
/* 	hight of container */
 
  
   
    top: 0px;
    left: 0px;
  right:0px;
  
  }
.item{
	border:1px solid black;
	background-color:red;
	width:20%;
	height:70px;
}